body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

div#container {
    height: 100%;
    width: 100%;
}

section {
    display: block-inline;
    float:left;
    height: 100%;
    width: 50%;
    text-align: center;
}

section#left {
    background-color: #ffffff;
    text-align: center;
}

#logoBlock {
    display: block;
    background-color: black;
    height: 400px;
    width: 400px;
    margin: 0 auto;
    margin-top: 15%;
}

nav {
    display: block;
    width: 380px;
    text-align: center;
    margin: 0 auto;
}

button {
    cursor: pointer;
    display: inline-block;
    padding-top: 0.4em;
    padding-right: 1.44em;
    padding-bottom: 0.4em;
    padding-left: 1.44em;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    line-height: 2.5rem;
    border: 2px solid #333;
    border-radius: 5px;
}

button:hover {
    background-color: #333333;
    color: #ffffff;
  }

#bookNow {
    background-color: #0e1e24;
    color: pink;
    transition: background-color 0.3s ease-in-out;
  }
  
  #viewMyWork {
    background-color: #0e1e24;
    color: #ffffff;
    transition: background-color 0.2s ease-in-out;
}
  
#viewMyWork:hover {
    background-color: #333333;
    color: pink;
  }

  
section#right {
    background-color: #f4dce2;
    width: 50%;
    right: 0;
    position: absolute;
}

#bookingScreen {
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.445);
    height: 600px;
    width: 600px;
    opacity: 0;
    padding: 0;
    margin: 10% 10%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.445);
    transition: opacity .5s;
}

#bookingForm {
    display: block;
    margin: 0 auto;
}


/* svg {
    transform: rotate(90deg);
    overflow: hidden;
    scroll: none;
} */